.fullQuePage{
    background-color: rgb(241,242,243);
    height: 100vh;
}
.askHeading{
    width: 70%;
    text-align: left;
    font-size: 25px;
    padding: 22px;
    margin: 0 auto;
}

.quePage{
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.queForm{
    width: 50%;
    background-color: white;
    border: 1px solid rgb(214,217,220);
    text-align: left;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
}

.queForm h1{
    font-size: 15px; 
    margin-top: 20px;  
}

.queForm p{
    font-size: 12px;
    color: rgb(56, 55, 55);
}

.queForm input{
    width: 100%;
    height: 25px;
    border: 1px solid rgb(186,191,196);
    border-radius: 4px;
    padding: 5px;
}

.queForm textarea{
    width: 100%;
    border: 1px solid rgb(186,191,196);
    border-radius: 4px;
    color: rgb(186,191,196);
    padding: 5px;
    height: 200px;

}


.steps{
    text-align: left;
    width: 310px;
    height: fit-content;
    margin: 10px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(214,217,220);
}

.stepHeading{
    color: rgb(78, 76, 76);
    border-bottom: 1px solid rgb(214,217,220);
    padding: 15px;
}

.steps p{
    padding-left: 15px;
    color: rgb(43, 41, 41);
    font-size: 15px;
}

.step{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid rgb(214,217,220);
}

.step li{
    font-weight: 100;
    font-size: 15px;
    color: rgb(68, 65, 65);
}

.step p{
    font-weight: 100;
    font-size: 15px;
    color: rgb(68, 65, 65);
}

.reviewBtnDiv{
    width: 70%;
    margin: 0 auto;
}


.reviewBtn{
    padding: 10px;
    background-color: rgb(17,148,250);
    float: left;
    color: white;
    border: 1px solid rgb(17,148,250);
    border-radius: 4px;
}


@media only screen and (max-width: 800px) {
    .steps {
      display: none;
    }
    .queForm{
        width: 100%;
    }
  }