.middleDiv{
    height: fit-content;
    width: 40%;
}

.queTitle{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(226, 221, 221);
}
.queTitle span{
    width: 80%;
    text-align: left;
    font-size: 26px;
    color: rgb(92, 88, 88);
    font-weight: 500;
}

.queBody{
    display: flex;
    color: rgb(54, 53, 53);
    margin: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(226, 221, 221);

}

.totalAns{
    font-size: 25px;
    font-weight: 530;
    padding: 20px;
    text-align: left;
    color: rgb(51, 51, 51);
}

.votes{
    padding: 2px;
    padding-top: 20px;
}

.allAns{
    display: flex;
    color: rgb(54, 53, 53);
    margin: 10px;
    text-align: left; 
    border-bottom: 1px solid rgb(226, 221, 221);
}

.ansBody{
    width: 100%;
    padding-left: 20px;
}

.editBtn button{
    border: none;
    cursor: pointer;
    background-color: white;
    color: gray;
}

.votes{
    align-items: center;
    text-align: center;
}

.votes button{
    cursor: pointer;
}

.calVotes{
    padding: 5px;
    text-align: center;
}

.ansUser{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-right: 30px;
    color:rgb(17,148,250)
}

.addAns{
    text-align: left;
    padding: 20px;
    color: rgb(54, 53, 53);
}

.addAns h1{
    font-size: 23px;
    font-weight: 545;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
    .middleDiv{
        width: 75%;
    }
    .ansBody{
        width: 90%;
    }
  }