.signupContainer{
    background-color: rgb(241,242,243);
    height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.leftDiv{
    margin-top: 100px;
}

.leftDiv img{
    width: 20px;
}

.signupHeading{
    width: 440px;
    margin: 0 auto;
    font-size: 22px;
    padding-top: 30px;
    color: rgb(29, 28, 28);
}

.signupGoogleField{
    width: 300px;
    height: 36px;
    color: rgb(68, 67, 67);
    background-color: white;
    border: 1px solid rgb(186,191,196);
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.signupGoogleField img{
    width: 17px;
    
}

.signupForm{
    padding: 22px;
    width: 260px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(219,220,221);
    display: flex;
    flex-direction: column;
}

.signupForm label{
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.signupForm input{
    height: 29px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgb(186,191,196);
}

.signupForm p{
    color: rgb(138, 136, 136);
    font-size: 14px;
    text-align: left;
}

.signupButton{
    margin-top: 10px;
    background-color: rgb(17,148,250);
    color: white;
    border: none;
    height: 36px;
    border-radius: 5px;
}

.signupButton:hover{
    background-color: rgb(11, 110, 185);
}
